In [3]:
import pandas as pd

In [10]:
# Files to load
retiring_departments = pd.read_csv("retiring_departments.csv")
department_mentors = pd.read_csv("department_mentors.csv")
active_departments = pd.read_csv("active_departments.csv")

In [15]:
p = retiring_departments['count']/active_departments['count']
p.mean()

0.1522927824615746

In [20]:
department_mentors.rename(columns={'count': 'count_2'})

   count_2           dept_name
0      435         Development
1      356          Production
2      272               Sales
3      128    Customer Service
4      126           Marketing
5      113            Research
6      107     Human Resources
7       97  Quality Management
8       74             Finance

In [23]:
new = active_departments.merge(department_mentors, on='dept_name')

In [27]:
new.astype({'count_x':'int64'}, {'count_y':'int64'}).dtypes

count_x       int64
dept_name    object
count_y       int64
dtype: object

In [34]:
result = new['count_y']/new['count_x']

In [36]:
result.mean()

0.007220794511887552